# Ignore node_modules:
node_modules

# Ignore package.json:
package.json

# Ignore package-lock.json:
package-lock.json

# Ignore .env:
.env

# Ignore .env.example:
.env.example

#Ignore Idea files:
.idea

#Ignore VSCode files:
.vscode